body {
  margin: 0px;
  text-align: center;
  background-color: antiquewhite;
}

.center {
  display: flex;
  justify-content: center;
}

nav {
  overflow: hidden;
  background-color: rgb(70, 65, 65);
}

nav a {
  float: left;
  color: #f2f2f2;
  font-weight: 520;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 20px;
}

@media only screen and (min-width: 1800px) {
  .general-width {
    margin-left: 24em;
    margin-right: 24em;
  }
}

@media only screen and (max-width: 1800px) and (min-width: 1100px) {
  .general-width {
    margin-left: 20em;
    margin-right: 20em;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 700px) {
  .general-width {
    margin-left: 7em;
    margin-right: 7em;
  }
}

@media only screen and (max-width: 700px) {
  .general-width {
    margin-left: 0.75em;
    margin-right: 0.75em;
  }
}

.content {
  border: 5px solid rgb(70, 65, 65);
  border-top: none;
  padding: 25px 40px;
  height: 70vh;
  margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
  .content {
    height: auto;
  }
}

.subtitle {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

.sentence {
  font-size: 18px;
  text-align: left;
}
