body {
  margin: 0px;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

nav {
  overflow: hidden;
  background-color: rgb(48, 46, 46);
}

nav a {
  float: left;
  color: #f2f2f2;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 25px;
}
